<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="victoralbertos.io.rxjavacache">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="sample_android.SampleAndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="sample_android.UsersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="sample_android.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="sample_android.ReposUserActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
